:root {
    /* COLORS */
    --white-color: #fff;
    --adress-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --logo-color:#000000;
    --paragraph-color: #757575;
    --heading-color: #212121;
    --background-dark: #2F303A;
    --background-grey: #F5F4FA;
    --header-border: #ECECEC;
    --portfolio-item: #eeeeee;
    --benefits-background: #F5F4FA;
    --socials-color: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms;
    --background-works: rgba(47, 48, 58, 0.8);
    --placeholder-color:  rgba(255, 255, 255, 0.6); 
    --portfolio-description: rgba(33, 150, 243, 0.9);
    --backdrop-background: rgba(0, 0, 0, 0.2);
    --modal-btn-border: rgba(0, 0, 0, 0.1);
    --border-input: rgba(33, 33, 33, 0.2);
    --placeholder-color: rgba(117, 117, 117, 0.5);
    --letter-spacing-input: 0.01em;

    /*  */

    /* LETTER-SPACING */
    --ls-002: 0.02em;
    --ls-003: 0.03em;
    --ls-006: 0.06em;
    /*  */
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--heading-color);
}
h1, h2, h3, p, ul {
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* MAIN-HEADER */
.main-header {
    border-bottom: 1px solid var(--header-border);
}
.list {
    list-style: none;
    padding: 0;
}
.page-nav,
.main-list,
.flex-list {
    display: flex;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-nav {
    align-items: center;
}
.main-list-item {
    margin-right: 50px;
}
.main-list-item:last-child {
    margin-right: 0;
}
.link{
    text-decoration: none;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: var(--ls-003);
    color: var(--logo-color);
    margin-right: 92px;
}
.accent-logo {
    color: var(--accent-color);
}
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: var(--ls-002);
    padding: 32px 0;
    color: var(--heading-color);
    transition: color var(--duration) var(--timing-function);
}
.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}
.contact-image {
    fill: currentColor;
    margin-right: 10px;
    transition: fill var(--duration) var(--timing-function);
}
.contact-image:hover,
.contact-image:focus {
    fill: var(--accent-color);
}
.current {
    color: var(--accent-color);
    position: relative;
}
.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
    margin-bottom: 1px;
}
.list-contact {
    margin-right: 50px;
}
.list-contact:last-child {
    margin-right: 0;
}
.contact {
    color: var(--paragraph-color);
    display: flex;
    align-items: center;
}
/* ************************************ */
/* SECTION ORDER */
.order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Background-image.jpg);
    text-align: center;
    color: var(--white-color);
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    max-width: 1600px;
}
.order-title {
    max-width: 696px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: var(--ls-006);
    text-transform: uppercase;
    margin-bottom: 30px;
}
.order-button {
    min-width: 200px;
    min-height: 50px;
    background: var(--accent-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto';   
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: var(--ls-006);
    color: var(--white-color);
    padding: 10px 28px;
    transition: box-shadow var(--duration) var(--timing-function);
}
.order-button:hover,
.order-button:focus {
    box-shadow: 0 0 10px var(--accent-color);
}

/* ********************************* */
/* SECTION BENEFITS */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
    padding: 94px 0;
}
.section-list,
.work-list,
.team-list {
    display: flex;
    justify-content: space-between;
}
.section-benefits {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--benefits-background);
    margin-bottom: 30px;
}
.section-item {
    max-width: 270px;
}
.section-title {  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.section-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: var(--ls-003);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.section-paragraph {
    line-height: 1.7;
    letter-spacing: var(--ls-003);
    color: var(--paragraph-color);
    font-size: 14px;
}
/* *********************************** */

/* OUR WORK */
.our-works {
    padding-top: 0;
}
.our-work-heading {
    margin-bottom: 50px;
}
.work-image {
    position: relative;
}
.work-description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: var(--ls-003);
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    position: absolute;
    background-color: var(--background-works);
    height: 70px;
    bottom: 0;
    width: 100%;
}

/* *********************************** */
/* OUR TEAM */
.team {
    background-color: var(--background-grey);
    max-width: 1600px;
    margin: 0 auto;
}
.team-title {
    margin-bottom: 50px;
}

.team-list-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
}
.team-text {
    padding: 30px 32px;
}
.item-title,
.item-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: var(--ls-003);
}
.item-paragraph {
    font-weight: 400;
    color: var(--paragraph-color);
    margin-top: 10px;
    margin-bottom: 16px;
}
.socials {
    display: flex;
    justify-content: space-between;
}
.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: background-color var(--duration) var(--timing-function);
}
.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    
}
.socials-image {
    fill: var(--socials-color);
    transition: fill var(--duration) var(--timing-function);
    
}
.social-link:hover .socials-image,
.social-link:focus .socials-image{
    fill: var(--white-color);
}
/* ********************************* */
/* OUR CLIENTS */
.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--socials-color);
    transition: border var(--duration) var(--timing-function);
    border-radius: 4px;
}
.clients-list:hover,
.clients-list:focus {
    border: 1px solid var(--accent-color);
}
.clients-heading {
    margin-bottom: 50px;
}
.clients-image {
    fill: var(--socials-color);
    transition: fill var(--duration) var(--timing-function);
}

.clients-list:hover .clients-image,
.clients-list:focus .clients-image {
    fill: var(--accent-color);
}
/* FOOTER */
.page-footer {
    background-color: var(--background-dark);
    padding: 60px 0;
}

.logo-footer {
    color: var(--white-color);
    margin: 0;
}
.footer-address {
    margin-top: 20px;
}
.footer-list {
    flex-direction: column;
}
.footer-item:not(:last-child) {
    margin-bottom: 10px;
}

.footer-item-socials:not(:last-child) {
    margin-right: 10px;
}
.location,
.footer-contact {
    letter-spacing: var(--ls-003);
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}
.join {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: var(--ls-003);
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}

.footer-contact {
    color: var(--adress-color);
    transition: color var(--duration) var(--timing-function);
}
.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}
.footer-contacts {
    display: flex;
    align-items: baseline;
}
.start-contact {
    margin-right: 70px;
}
.social-footer-link {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--duration) var(--timing-function);
}
.social-footer-link:hover,
.social-footer-link:focus {
    background-color: var(--accent-color);
}
.footer-socials-list {
    display: flex;
}
.footer-socials-image {
    fill: var(--white-color);
}
.footer-form {
    margin-left: auto;
}
.footer-form-action {
    display: flex;
}

.dend-text {
    margin-right: 10px;
}
.send {
    fill: #fff;
    margin-left: auto;
}
.send-text {
    display: flex;
    align-items: center;
}
.email-send {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    margin-right: 12px;
    width: 358px;
    height: 50px;
    display: inline-block;
    padding: 15px;
    padding-left: 16px;
}
.send-input::placeholder {
    color: var(--placeholder-color);
}
.send-input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    line-height: 1.25;
    letter-spacing: var(--ls-003);
    color: var(--white-color);
    outline: none;
}

/* ************************************ */


/* PORTFOLIO */


.portfolio-list,
.portfolio-filter {
    list-style: none;
    padding: 0;
    display: flex;
}
.portfolio-filter {
    justify-content: center;
    margin-bottom: 50px;
}
.filter-item:not(:last-child) {
    margin-right: 9px;
}

.portfolio-list {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -30px;
    margin-bottom: -30px;
}

.portfolio-item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-bottom: 30px;
}

.border-item {
    border: 1px solid var(--portfolio-item);
    border-top: none;
    padding: 20px 24px;
}
.button-filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: var(--ls-003);
    color: var(--heading-color);
    background-color: var(--background-grey);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    min-height: 38px;
    padding: 6px 22px;
    transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}
.button-filter:hover,
.button-filter:focus,
.active {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-link {
   transition: box-shadow var(--duration) var(--timing-function);
}
.portfolio-link:hover,
.portfolio-link:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: var(--ls-006);
    color: var(--heading-color);
    margin-bottom: 4px;
}
.example-text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: var(--ls-003);
    color: var(--paragraph-color);
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}
.portfolio-description {
    position: absolute;
    padding: 63px 22px;
    color: var(--white-color);
    background-color: var(--portfolio-description);
    content: "";
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: var(--ls-003);
    opacity: 0;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform var(--duration) var(--timing-function),
    opacity var(--duration) var(--timing-function);
}
.portfolio-link:hover .portfolio-description,
.portfolio-link:focus .portfolio-description {
    opacity: 1;
    transform: translatey(0);
}


/*/// MODAL ///*/

.backdrop {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    
    background-color: var(--backdrop-background);

    opacity: 1;
    visibility: visible;
    transition: opacity 500ms var(--timing-function), visibility 500ms var(--timing-function);
    
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 1;

    width: 528px;

    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);

    padding: 40px;
    text-align: center;
    display: flex;
    align-items: center;

    transition: opacity 500ms var(--timing-function),
    scale 500ms var(--timing-function),
    transform 500ms var(--timing-function);

    
}

.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: transparent;
    top: 8px;
    right: 8px;
    border: 1px solid var(--modal-btn-border);
    fill: var(--logo-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color var(--duration) var(--timing-function),
    fill var(--duration) var(--timing-function);
}
.modal-btn:hover,
.modal-btn:focus {
    fill: var(--accent-color);
}
/* ///////////////////////////////////////////////////////////////////////////////////// */

/* FORM */

.form-field {
    margin-bottom: 10px;
}

.form-textarea {
    margin-bottom: 20px;
} 
.form {
    width: 100%;
    height: 100%;
}
.form-title {
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    letter-spacing: var(--ls-003);
    color: var(--heading-color);
    font-size: 20px;
    margin-bottom: 12px;
}
.modal-input {
    display: inline-block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--border-input);
    padding-left: 42px;
    transition: border-color var(--duration) var(--timing-function);
}
.modal-input:focus,
.modal-textarea:focus {
    border-color: var(--accent-color);
    outline: none;
}
.modal-input:focus + .input-image {
    fill: var(--accent-color);
}
.modal-label {
    display: block;
    width: max-content;
    margin-bottom: 4px;
    font-family: 'Roboto';
    line-height: 1.6;
    font-size: 12px;
    color: var(--paragraph-color);
    letter-spacing: var(--letter-spacing-input);

}
.input-wrapper {
    position: relative;
}
.input-image {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--heading-color);
    transition: var(--duration) var(--timing-function);
}
.modal-textarea {
    display: block;
    resize: none;
    min-height: 120px;
    width: 100%;
    padding: 12px 16px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid var(--border-input);
    color: var(--paragraph-color);
    transition: border-color var(--duration) var(--timing-function);
}
textarea::placeholder {
    line-height: 1.16;
    letter-spacing: var(--letter-spacing-input);
    color: var(--placeholder-color);
    font-size: 14px;
}
.license-list {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.license-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.7;
    color: var(--paragraph-color);
    letter-spacing: var(--ls-003);
}
.license-link {
    color: var(--accent-color);
}


.checkbox-input:checked + .checkbox-icon {
    background-color: var(--accent-color);
    outline: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.checkbox-icon {
    display: block;
    outline: 2px solid var(--heading-color);
    outline-offset: -2px;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 7px;
    transition: outline var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), filter var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
}
.checkbox-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    fill: transparent;
}
.checkbox-input:checked + .checkbox-icon > .checkbox-image {
    fill: var(--white-color);
}
/* ///////////////////////////////////////////////////////////////////////// */




















